@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root{
    --line-border-fill: rgb(70, 233, 30);
    --line-border-empty: rgb(177, 172, 172);         
}
*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, blue, orange);
    font-family: 'Muli', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .3s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 35px;
    margin: 5px;
    font-size: 18px;
}

.btn:active {
    transform: scale(0.70) ;
    /* transition: 0.1s ease; */
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}
